.icon-large {
  font-size: 5.4em;
}

.center-block {
  display: flex;
  flex-direction: column;
  align-items: center;
}

table,
th,
td {
  display: center;
  border: none !important;
}

.md-typeset table:not([class]) tbody tr:hover {
  background-color: rgba(0,0,0,0);
}

/* blockquote {
  border-left: none;
  padding-left: 10px;
} */